@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('./fontello.css');
@import url('normalize.css');

html {
    font-size: 10px;
}

body *,
body *::before,
body *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.4rem;
    color: #181818;
    background: linear-gradient(to bottom, #ccc, #eee 60%, #fff 100%);
}

ul {
    list-style: none;
}

ul li a {
    color: black;
    text-decoration: none;
}
header,
.visual,
main,
.slogan,
footer {
    width: 940px;
    margin: 0 auto;
}

.readable-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0,0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0,0,0,0);
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.text--uppercase {
    text-transform: uppercase;
}
/* header */
.header {
 background: #fff;
 border-radius: 0 0 15px 15px;
 padding: 0 30px 50px 30px;
}
/* header - member */
.member {
    display: flex;
    justify-content: flex-end;
}
.member__list {
    display: flex;
}
.member__list-item a{
    padding: 8px 10px;
}

/* header - main-menu */
.main-menu {
    background:linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
    display:flex;
    border-top: 2px solid black;
    border-radius: 0 0 5px 5px;
    justify-content: space-around;
}
.main-menu__list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    position: relative;
}
.main-menu__btn {
    background: transparent;
    border: 0;
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    color: white;
    border-left: 2px solid rgba(255,255,255, .5);
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.submenu__list {
    display: none;
}

.menu-active .submenu__list {
    position: absolute;
    display: block;
    top: 50px;
} 
.menu-active .submenu__list-item {
    display: inline-block;
} 
.menu-active .submenu__list-item a{
    padding: 8px 10px;
} 
.menu-active .submenu__list-item a::before{
    content: "\f192";
    font-family: "fontello";
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
} 

/* visual */
.visual {
    position: relative;
    height: 120px;
}
.visual p {
    animation:textAni 2s forwards;
    width: 40vw;
}
.visual::before,
.visual::after {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    content: "";
    animation: imgAni 2s infinite alternate ease-in-out;
}
.visual::before {
    
    background: url('./images/ani_flower_01.png') no-repeat 0 -10px,
    url('./images/ani_flower_02.png') no-repeat 670px 0;
}
.visual::after {
    content: "";
    background: url('./images/ani_flower_03.png') no-repeat 300px 0px,
    url('./images/ani_flower_04.png') no-repeat 800px 0;
    animation-delay: 2s;
}

@keyframes textAni {
    from {
        color: rgba(0,0,0,0);
        font-size: 12px;
        transform: translate(0,0);
    }
    to {
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px,75px);
    }
}

@keyframes imgAni {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* main */
main {
    background: #fff;
    border-radius: 15px 15px 0 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.group {
    display: inline-block;

}
.group:first-child {
    width: 250px;
}
.group:nth-child(2) {
    width: 380px;
}
.group:last-child {
    width: 190px;
}
/* main - login */
.login {
    background: #ed552f radial-gradient(circle at right top, #e8852e, #ed552f);;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 0 #aaa;
}
.login__heading {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #ff0;
    font-weight: 700;
    text-indent: 10px;
}
.login__form {
    padding: 10px 10px 0;
    background: #fff;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.login__form fieldset {
    border: 0;
    padding: 0;
    border-bottom: 1px solid #181818;
    padding-bottom: 10px;
}
.login__form-group {
    display: flex;
    flex-wrap: nowrap;
    padding:0;

    align-items: center;
}
.login__form-group:nth-child(3) {
    margin-top: 5px;
}
.login__form-group label {
    margin-right: 18px;
}
.login__form-group:nth-child(3) label{
    margin-right: 5px;
}
.login__form-group input {
    width: 95px;
}
.login button {
    color: white;
    padding: 17px 5px;
    border-radius: 5px;
    background: #ed552f;
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}
.login__member {
    padding: 10px;
    background: #fff;
    margin: 0;
    border-radius: 0 0 15px 15px;
}
.login__member li{
    display: inline-block;
}
.login__member li:last-child{
    float: right;
}
.login__member span {
    color: #e8852e;
}
.login__member a {
    font-size: 1.3rem;
}

/* validation */
.validation-links {
    margin-top: 20px;
    margin-right: 0;
}
.validation-links__list {
    padding: 0;
}
.validation-links__list-item a {
    border: 1px solid #aaa;
    display: inline-block;
    background: url(images/validation_icon.png) no-repeat 15px 50%, linear-gradient(to bottom, #ccc, #eee);
    width: 250px;
    padding: 10px 20px 10px 40px;
    border-radius: 20px;
}
.validation-links__list-item:last-child {
    margin-top: 10px;
}
/* web accessibility term */
.web-accessibility-term {
    background: linear-gradient(to bottom, #ccc, #eee);
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 15px;
}
.web-accessibility-term__heading {
    font-size: 1.6rem;
    margin: 0;
    font-weight: 700;
}
.web-accessibility-term__list {
    overflow: hidden;
}
.web-accessibility-term__list-subject{
    color: #296897;
    float: right;
    width: 160px;
}
.web-accessibility-term__list-thumbnail {
    float: left;
    margin: 0;
}
.web-accessibility-term__list-brief-desc {
    float:right;
    width: 160px;
    margin: 10px 0 0 0;
}
/* search */
.search__form {
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    padding: 10px;
    border-radius: 15px 15px 0 0;
    border: 1px solid #ccc;
    border-bottom-color: #fff;
}
.search__form fieldset{
    border: 0;
}
.search__form fieldset [name="search"]{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
}
.search__btn {
    border-radius: 5px;
    color: white;
    background: #333;
    padding: 5px;
    border: 0;
}
/* board */

.board,
.notice {
    position: relative;
}
.notice-heading,
.pds-heading {
    font-weight: 400;
    font-size: 1.4rem;
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    border-radius: 5px 5px 0 0;
    border: 1px solid #aaa;
    padding: 10px;
    display: inline-block;
}
.pds-heading {
    position: absolute;
    top: 0;
    left: 73px;
}
.notice-more,
.pds-more {
    position: absolute;
    top:0;
    right: 0;
    padding: 20px 0 20px 20px;
    text-decoration: none;
    color: black;
}

.tab-act .notice-heading {
    background: transparent;
    border-bottom: #fff;
    color: #ed552f;
    border-color: #ed552f;
}
.notice-list,
.pds-list {
    padding: 0;
    margin-top:0;
}
.notice-list li a::before,
.pds-list li a::before{
    content: "\f192";
    font-family: "fontello";
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
}
.notice-list li,
.pds-list li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.notice-list li:last-child {
    float: right;
}

.pds-list,
.pds-more { 
    display: none;
}

/* news */ 
.news {
    position: relative;
}
.news__heading {
    font-weight: 700;
    font-size: 1.6rem;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
.news__subheading,
.news__description {
    float: right;
    width: 240px;
    margin-top: 0;
}
.news__subheading span {
    display: inline-block;
    margin-top: 5px;
    width: 240px;
    font-weight: 400;
}
.news__time {
    float: right;
}
.news__thumbnail {
    margin: 0;
}
.news__thumbnail img {
    width: 112px;
    height: 66px;
    display: inline-block;
    margin-bottom: 10px;
}
.news__thumbnail figcaption {
    width: 112px;
    text-align: center;
}
.news__btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    padding-right: 0;
}
.news__btn span{ 
    color: green;
}
/* new event */
.new-event-related-group {
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}
.new-event {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.new-event__heading {
    font-weight: 700;
    font-size: 1.6rem;
    color: black;
    float: left;
    margin: 0 0 10px 0;
}
.new-event__heading span{
    color: #ed552f;
}
.new-event__next-previous-btn {
    float: right;
    margin: 0 0 10px 0;
}
.new-event__content {
    clear: both;
}
.new-event__content img{
    box-shadow: 5px 5px 0 #aaa;
}
.related-sites__heading {
    font-weight: 700;
    font-size: 1.6rem;
    color: black;
    margin: 10px 0;
}
.related-list {
    padding: 4px 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 27px;
    overflow: hidden;
    
}
.related-list:hover {
    animation: listAni 500ms alternate forwards ease-in-out;
}
.related-list li {
    padding-bottom: 5px;
}

@keyframes listAni{
    from {
        height: 27px;
    }
    to {
        height: 110px;
    }
}
/* popular sites */
.popular-sites {
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-top: 20px;
    position: relative;
}
.popular-sites__heading {
    font-size: 1.6rem;
    font-weight: 700;
    margin:0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.popular-sites__heading span{
    color: #ed552f;
} 
.popular-sites__list {
    padding: 0;
    counter-reset: my-awesome-counter;
}
.popular-sites__list-item {
    margin-bottom: 5px;
    counter-increment: my-awesome-counter;
}
.popular-sites__list-item::before {
    content: counter(my-awesome-counter);
    color: #fff;
    font-size: 1.2rem;
    background-color: #999;
    padding: 0 5px;
    border-radius: 3px;
    margin-right: 5px;
}
.popular-sites__btn {
    border: 0;
    position: absolute;
    background: transparent;
    top: 0;
    right: 0;
    padding-right: 10px;
    margin-top: 10px;
}
.popular-sites__btn span{
    color: green;
}
/* slogan */
.slogan {
    background: #fff;
    position: relative;
    padding: 20px 0;
}
.slogan__thumbnail {
    position: absolute;
    top: 35px;
    left: 10px;
}
.slogan__description {
    padding-left: 20px;
    color: #a09784;
    line-height: 1.5;
    width: 690px;
    margin: 0 auto;
}
/* footer */
.footer {
    background: linear-gradient(to bottom, #ccc, #eee 60%, #fff 100%);
    margin: 0;
    width: 100%;
}
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.footer-wrapper__logo {
    width: 100px;
    height: 20px;
    position: relative;
    top: 37px;
}

.footer-wrapper__list {
    border-radius: 10px;
    margin: 20px;
    display: flex;
    padding: 15px 20px;
    background: #7b8385;
    color: white;
    justify-content: space-evenly;
    width: 690px;
}
.footer-wrapper__list-item a{
    color: white;
}

.footer-wrapper__right-side-logos {
    margin-top: 10px;
}
.footer-wrapper__address-wrapper {
    width: 100%;
    text-align: center;
}
.footer-wrapper__copyright {
    margin:0;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}