@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('./fontello.css');
@import url('normalize.css');

html {
    font-size: 10px;
}

body *,
body *::before,
body *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.4rem;
    color: #181818;
    background: #aaa;
    height: 2000px;
}

ul {
    list-style: none;
}

ul li a {
    color: black;
    text-decoration: none;
}
header,
.visual,
main,
.slogan,
footer {
    width: 940px;
    margin: 0 auto;
}

.readable-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0,0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0,0,0,0);
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.text--uppercase {
    text-transform: uppercase;
}
/* header */
.header {
 background: #fff;
 border-radius: 0 0 15px 15px;
 padding: 0 30px 50px 30px;
}
/* header - member */
.member {
    display: flex;
    justify-content: flex-end;
}
.member__list {
    display: flex;
}
.member__list-item a{
    padding: 8px 10px;
}

/* header - main-menu */
.main-menu {
    background:linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
    display:flex;
    border-top: 2px solid black;
    border-radius: 0 0 5px 5px;
    justify-content: space-around;
}
.main-menu__list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    position: relative;
}
.main-menu__btn {
    background: transparent;
    border: 0;
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    color: white;
    border-left: 2px solid rgba(255,255,255, .5);
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.submenu__list {
    display: none;
}

.menu-active .submenu__list {
    position: absolute;
    display: block;
    top: 50px;
} 
.menu-active .submenu__list-item {
    display: inline-block;
} 
.menu-active .submenu__list-item a{
    padding: 8px 10px;
} 
.menu-active .submenu__list-item a::before{
    content: "\f192";
    font-family: "fontello";
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
} 

