// @import url(spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url("./fontello.css");
body *,
body *::after,
body *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
    background: url(../images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%) repeat;
    background-color: #ccc;
}

header
{
    background-color: white;
    margin: auto;
    width: 940px;
    border-radius: 0 0 15px 15px;
}
nav {
    padding: 0 30px 40px;

    nav,
    .top-nav,
    .bottom-nav {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }
    .top-nav ul{
        margin: 10px;
    }
    
    .top-nav ul,
    .bottom-nav ul {
        display: flex;
    }
    
    .top-nav ul li,
    .bottom-nav ul li{
        
        list-style-type: none;
    }
    
    .top-nav ul li::after{
        content: ":";
    }

    .top-nav ul li:last-child::after{
        content: "";
    }
    
    .top-nav ul li a,
    .bottom-nav ul li a{
        padding: 8px 10px;
        color: black;
        text-decoration: none;
    }
    
    .bottom-nav {
        background: linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
        background-color: #ed552f;
        border-top: 2px solid #222;
        border-radius:  0 0 5px 5px;
        height: 47px;
        width: 100%;
        position: relative;
    }
    
    .bottom-nav img {
        width: 165px;
        height: 35px;
    }
    .bottom-nav ul{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin:0;
        height: 100%;
    }
    
    .bottom-nav ul li {
        text-align: center; 
        padding: 0 20px;
        border-left: 2px solid rgba(255,255,255,.5);
        display: flex;
        align-items: center;
    }
    .bottom-nav ul li a{    
        height: 100%;
    }
    .bottom-nav ul li:first-child {
        border-left: initial;
    }
    
    .bottom-nav ul li:hover a {
        text-decoration: black;
    }
    .bottom-nav ul li a{
        color: white;
        padding: 0;
        display: flex;
        align-items: center;
        height: 40px;
    }
    
    .bottom-nav ul li:hover a, 
    .active a{ 
        color: #ff0;
    }
    
    
    .sub-menu-1 {
        display: none;
    }
    
    .bottom-nav ul li:hover .sub-menu-1 {
        position: absolute;
        display: block;
        margin-top: 85px;
        justify-content: flex-start;
    }
    .bottom-nav ul li:hover:nth-child(n+3) .sub-menu-1 {
        right: 20px;
    }
    .bottom-nav ul li:hover:nth-last-child(n+3) .sub-menu-1 {
        left: 0;
    }
    .bottom-nav ul li:hover .sub-menu-1 ul {
        justify-content: center;
    }
    .bottom-nav ul li:hover .sub-menu-1 ul li {
        padding: 0 20px;
    }
    .bottom-nav ul li:hover .sub-menu-1 ul li::before{
        content:"\f192";
        font-family: "fontello";
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
    }
    
    .bottom-nav ul li:hover .sub-menu-1 ul li a{
        color: black;
    }
    .bottom-nav ul li:hover .sub-menu-1 ul li:hover::before {
        content:"\e803";
        transform: rotate(90deg);
    }
}




/* banner */
@keyframes flowerEffect {
    from {opacity: 0;}
    to {opacity: 1;}
} 
@keyframes wordEffect {
    from {transform: translate(-300px, -50px);    
        font-size: 12px;
        color: rgba(0,0,0,0);}
    to {transform: translate(0, 0);
        font-size: 24px;
        color: rgba(0,0,0,1);}
} 
.visual {
    width: 940px;
    margin: auto;
    height: 120px;
    position: relative;

    .visual img {
        position: absolute;
        animation: flowerEffect 2000ms infinite alternate ease-in-out;
    }
    .visual .first-flower {
        top: -10px;
    }
    .visual .second-flower {
        top:8px;
        left: 670px;
    }
    .visual .third-flower {
        left: 300px;
    }
    .visual .fourth-flower {
        top: 10px;
        left: 800px;
    }
    .visual p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        top: 51px;
        left: 400px;
    
        animation: wordEffect 2000ms forwards ease-in-out;
    }
}


/* main */

main {
    width: 940px;
    background-color: white;
    margin: auto;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    padding: 30px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first-main-section {
    justify-content: initial;
    width: 250px;

    
    .first-main-section .sign-in {
        padding: 10px;
        background: radial-gradient(circle at right top, #e8852e, #ed552f);
        box-shadow: 5px 5px #aaa;
        border-radius: 5px;
    }
    .first-main-section .sign-in .title{
        color: #ff0;
        font-weight: 700;
        text-indent: 10px;
        background-color: transparent;
    }

    .first-main-section .sign-in .input-area {
        
        padding: 10px;
        border-radius: 5px 5px 0 0;
        margin-top: 10px;
    }
    .first-main-section .sign-in .input-area,
    .firs-section .sign-in .sign-up-forget-pw-boxt-main {
        display: flex;
        background-color: #fff;
        justify-content: center;
    }
    .first-main-section .sign-in .input-area fieldset {
        border: 0;
        padding: 0;
    }
    .first-main-section .sign-in .input-area fieldset,
    .first-main-section .sign-in .input-area fieldset .form-field-id,
    .first-main-section .sign-in .input-area fieldset .form-field-pw {
        display: flex;
    }

    .first-main-section .sign-in .input-area fieldset .form-field-id,
    .first-main-section .sign-in .input-area fieldset .form-field-pw { 
        padding: 2.5px;

    }
    .first-main-section .sign-in .input-area fieldset label {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .first-main-section .sign-in .input-area fieldset input {
        width: 100px;
        height: 22px;
        margin-right: 10px;
    }
    .first-main-section .sign-in .input-area fieldset button {
        background-color: #ed552f;
        border: 1px solid #e8852e;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
    }
    .first-main-section .sign-in .sign-up-forget-pw-box {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid black;
    }
    .first-main-section .sign-in .sign-up-forget-pw-box a{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    .first-main-section .sign-in .sign-up-forget-pw-box a::before{
        content:"\e803";
        font-family: "fontello";
        color: #ed552f;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        margin-right: 5px;
    }
    .first-main-section .links {
        margin-top: 20px;
    }
    .first-main-section .links div {
        width: 250px;
        height: 33px;
        text-align: center;
    }
    .first-main-section .links div:first-child {
        margin-bottom: 5px;
    }
    .first-main-section .links div a:hover { 
        color: #ed552f;
    }
    .first-main-section .links div a{
        display: block;
        color: black;
        border-radius: 30px;
        padding: 5px;
        background: url(../images/validation_icon.png) no-repeat 15px 50%,  linear-gradient(to bottom, #ccc, #eee);
        width: 100%;
        text-decoration: none;
    }

    .first-main-section .info-display {
        border-radius: 5px;
        padding: 10px 15px;
        background: linear-gradient(to bottom, #ccc, #eee);
        margin-top: 20px;
        border: 1px solid #aaa;
    }
    .first-main-section .info-display .title {
        font-weight: 700px;
    }

    .first-main-section .info-display .description {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .first-main-section .info-display .description p:first-child{
        color: #296897;
        font-size: 13px;
    }

    .first-main-section .info-display .description p{
        margin: 0;
        padding: 0 10px;   
    }
    .first-main-section .info-display .description img {
        height: 68px;
    }
}

/* second section */
.second-main-section {
    width: 380px;
    .second-main-section .search-section {
        border: 1px solid #aaa;
        border-bottom: 0;
        border-radius: 15px 15px 0 0;
        background: linear-gradient(to bottom, #ccc, #eee);
        background-color: #ccc;
        padding: 15px 25px 10px;
       }
       
       .second-main-section .search-section label::before {
           content:"\e802";
           font-family: "fontello";
           display: inline-block;
           text-decoration: inherit;
           width: 1em;
           margin-right: .2em;
       }
       .second-main-section .search-section input {
           padding: 3px 5px;
       }
       .second-main-section .search-section button {
           border: 1px solid #aaa;
           background-color: #333;
           color: white;
           border-radius: 3px;
           padding: 5px 10px;
       }
       .second-main-section .info-section {
           width: 370px;
       }
       .second-main-section .info-section .top {
           display: flex;
       }
       .second-main-section .info-section .top p {
           background: linear-gradient(to bottom, #ccc, #eee);
           border: 1px solid #ccc;
           border-radius:  5px 5px 0 0;
           padding: 10px;
           margin: 20px 0;
       }
       
       .second-main-section .info-section .top p:last-of-type{
           margin-left: auto;
           border: 0;
           background: transparent;
       } 
       .second-main-section .info-section .top p:last-of-type::before {
           content:"\e801";
           font-family: "fontello";
           color: green;
           display: inline-block;
           text-decoration: inherit;
           width: 1em;
           margin-right: .2em;
       }
       .second-main-section .info-section .body .faq-items {
           padding: 0;
           margin: 0;
       }
       .second-main-section .info-section .body ul li {
           list-style-type: none;
           display: flex;
       }
       .second-main-section .info-section .body ul li::before{
           content:"\f192";
           font-family: "fontello";
           display: inline-block;
           text-decoration: inherit;
           width: 1em;
           margin-right: .2em;
       }
       .second-main-section .info-section .body ul li p{
           margin: 0;
           padding: 5px;
           margin-left: auto;
       }
       .second-main-section .info-section .body .resources {
           display: none;
       }

       .second-main-section .news-section {
        width: 370px;
    }
    
    .second-main-section .news-section .top {
        display: flex;
        justify-content: space-between;
    }
    .second-main-section .news-section .top p{
        padding-bottom: 20px;
    }
    .second-main-section .news-section .top p:first-child {
        font-weight: 700;
        color: #ed552f;
        border-bottom: 1px solid black;
        width: 80%;
    }
    .second-main-section .news-section .top p:last-of-type::before {
        content:"\e801";
        font-family: "fontello";
        color: green;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
    }
    .second-main-section .news-section .body {
        display: flex;
    }
    .second-main-section .news-section .body img {
        box-shadow: 0 15px 15px 0 #aaa;
        margin-bottom: 15px;
    }
    .second-main-section .news-section .body p{
        margin: 0;
    }
    .second-main-section .news-section .body .right{
        padding: 0 20px;
    }
    .second-main-section .news-section .body .right p:first-child {
        font-weight: 700;
    }
    .second-main-section .news-section .body .right p:last-child {
        margin-top: 10px;
    }
}


.click {
    color: #ed552f;
    background: #fff !important;
    border: 1px solid #ed552f !important;
    border-bottom-color: #fff !important;
    border-radius:  5px 5px 0 0 !important;
}



/* third section */
.thrid-main-section {
    width: 190px;

    .thrid-main-section .new-event-section {
        width: 190px;
        border-radius: 5px;
        background: linear-gradient(to bottom, #ccc, #eee);
        background-color: #ccc;
        border: 1px solid #aaa;
        padding: 10px;
    }
    .thrid-main-section .new-event-section .top{
        display: flex;
    }
    .thrid-main-section .new-event-section .top p:first-child{
        margin:0;
        margin-right: auto;
    }
    .thrid-main-section .new-event-section .top p span{
        color: #ed552f;
    }
    .thrid-main-section .new-event-section .top img{ 
        width: 41.4px;
        height: 18px;
    }
    
    .thrid-main-section .new-event-section .body {
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
    .thrid-main-section .new-event-section .body img{
        box-shadow: 5px 5px #aaa;
        margin-bottom: 10px;
    }
    .thrid-main-section .new-event-section .body p {
        margin: 0;
        font-size: 14px;
    }
    .thrid-main-section .new-event-section .body p:first-child,
    .thrid-main-section .new-event-section .body p:nth-child(2) {
        margin-bottom: 5px;
    } 
    
    .thrid-main-section .new-event-section .bottom {
        margin-top: 10px;
    }
    .thrid-main-section .new-event-section .bottom select {
        margin-top: 10px;
        width: 170px;
    }
    
    .thrid-main-section .popular-sites-section {
        width: 100%;
        background: linear-gradient(to bottom, #ccc, #eee);
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #aaa;
    }
    .thrid-main-section .popular-sites-section .top{
        display: flex;
        justify-content: space-between;
    }
    .thrid-main-section .popular-sites-section .top p {
        margin: 0;
    }
    .thrid-main-section .popular-sites-section .top p:first-child {
        font-weight: 700;
        
    }
    .thrid-main-section .popular-sites-section .top p:first-child span {
        color: #ed552f;
        margin-left: 5px;
    }
    
    .thrid-main-section .popular-sites-section .top p:last-child::before {
        content:"\e801";
        font-family: "fontello";
        display: inline-block;
        color: green;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
    }
    .thrid-main-section .popular-sites-section .body ul{
        margin: 10px 0;
        padding: 0;
        counter-reset: listCounter;
    }
    .thrid-main-section .popular-sites-section .body ul li{ 
        list-style-type: none;
        counter-increment: listCounter;
        margin-bottom: 5px;
    }
    .thrid-main-section .popular-sites-section .body ul li::before{
        content: counter(listCounter);
        color: #fff;
        background-color: #999;
        padding: 0 5px;
        margin-right: 5px;
        border-radius: 3px
    }
}

/* slogan */
.slogan {
    width: 940px;
    margin: auto;
    display: flex;
    position: relative;
    img {
        position: absolute;
        top: 25px;
    }
    p {
        margin: 30px 130px 15px;
        font-size: 14px;
        color: #a09784;
        line-height: 25px;
    }
}

/* footer */
footer {
    background: linear-gradient(to bottom, #ccc, #eee 60%, #fff 100%);
    img {
        display: block;
        width: 40px;
        height: 60px;
    }
    .footer-logo {
     width: 100px;
     height: 20px;
    }
    .footer-wrapper {
        width: 940px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding-top: 15px;
        ul {
            display: flex;
            justify-content: space-between;
            background-color: #7b8385;
            border-radius: 10px;
            width: 100%;
            margin: 0px 20px;
            padding: 0 20px;
        }
        .img-group {
            display: flex;
        }
        ul li{
            list-style-type: none;
            padding: 8px 10px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        p {
            margin: 0;
        }
    }

}
